$tamanhoCarrossela: 255px;
$tamanhoCarrosselb: 290px;
$tamanhoMain: 350px;
$corLaranja: #DD6B20;

main{
	margin-right: $tamanhoMain;
	margin-left: $tamanhoMain;
}

//rodapé
footer{
	color: #fff;
	background-color: #1A202C;
	position: fixed;
	bottom: 0;
	width: 100%;
}
//barra de carregar
.pace{
	-webkit-pointer-events: none;
	pointer-events: none;

	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	
	 .pace-progress{
		background: #eb7a55;
		position: fixed;
		z-index: 2000;
		top: 0;
		right: 100%;
		width: 100%;
		height: 3px;
	}
}
.pace-inactive{
	display: none;
}

//botões
.voltaTopo{
	position: fixed;
	bottom: 40px;
	right: 20px;	
}


//Carousel
#carousel{
	width: $tamanhoCarrossela;
	height: $tamanhoCarrosselb;
	margin: 0;
}
#slides{
	overflow: hidden;
	position: relative;
	width: 710px;
	height: 400px;
	border: 5px solid $corLaranja;
	 ul{
	position: relative;
	left: 0;
	top: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 750px;
	}
	li{
	width: 100%;
	height: 400px;
	}
	li img{
	width: 100%;
	height: 400px;
	opacity: 0.8;
	}
	li img:hover{
	width: 100%;
	height: 400px;
	opacity: 1;
	}
}
	