main{
  margin-left: 350px;
  margin-right: 350px;
}
footer{
    color:#ffffff;
    background-color:#1A202C;
    position: fixed;
    bottom:0;
    width: 100%;
}
.rodape{
  position: absolute;
  bottom: -200px;
}


//botão que vai ao topo
.btnTopo{
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.voltaTopo{
  position: fixed;
  right: 20px;
  bottom: 30px;
}


//Barra de load
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #eb7a55;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 3px;
}



//carrossel de imagens
#carousel {
  width:255px;
  height:290px;
  margin:0 auto;
  }
   
  #slides {
  overflow:hidden;
  position:relative;
  width: 710px;
  height: 400px;
  border:5px solid #1A202C;
  }
   
  #slides ul {
  position:relative;
  left:0;
  top:0;
  list-style:none;
  margin:0;
  padding:0;
  width:750px;
  }
   
  #slides li {
  width: 100%;
  height: 400px;
  }

  #slides li img {
  margin-left: 100%;
  width: 100%;
  height: 400px;
  opacity: 0.8;
  }
   
  #slides li img:hover {
  width: 100%;
  height: 400px;
  opacity: 1;
  }
